<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (weight(); as weightRef) {
      <div>
        <h2 data-cy="weightDetailsHeading"><span jhiTranslate="jhipster101App.weight.detail.title">Weight</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ weightRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipster101App.weight.datetime">Datetime</span></dt>
          <dd>
            <span>{{ weightRef.datetime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="jhipster101App.weight.weight">Weight</span></dt>
          <dd>
            <span>{{ weightRef.weight }}</span>
          </dd>
          <dt><span jhiTranslate="jhipster101App.weight.manytoone">Manytoone</span></dt>
          <dd>
            <span>{{ weightRef.manytoone?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/weight', weightRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
